/** Global *******************************************/
*{
  all: unset;
  font-family: "Rounded Mplus 1c";
  font-family: feather;
  font-family: Iosevka;
}

/** Background ***************************************/
.bg {
  background-image: url("images/bg.png");
  background-color: #16161c;
  opacity: 1;

}

/** Generic window ***********************************/
.genwin {
  // background-color: #232530;
  background-color: #16161c;
  border-radius: 4px;
}

/** Music ***************************************/
.album_art {
  background-size: 240px;
  min-height: 240px;
  min-width: 240px;
  margin: 20px;
  border-radius: 5px;
}

.song {
  color: #fdf0ed;
  font-size : 24px;
  font-weight : bold;
  margin : 40px 0px 0px 0px;
}

.artist {
  color: #e95678;
  font-size : 16px;
  font-weight : normal;
  margin : 0px 0px 15px 0px;
}

.btn_prev, .btn_play, .btn_next {
  font-family: Iosevka Nerd Font;
}
.btn_prev {
  color: #FAB795;
  font-size : 32px;
  font-weight : normal;
}
.btn_play {
  color: #29D398;
  font-size : 48px;
  font-weight : bold;
}
.btn_next {
  color: #FAB795;
  font-size : 32px;
  font-weight : normal;
}

.music_bar scale trough highlight {
  all: unset;
  background-color: #EE64AC;
  border-radius: 8px;
}
.music_bar scale trough {
  all: unset;
  background-color: #2E303E;
  border-radius: 8px;
  min-height: 20px;
  min-width: 310px;
  margin : 10px 0px 0px 0px;
}

/** Power menu ****************************************/
.btn_logout,
.btn_poweroff,
.btn_sleep,
.btn_reboot {
  background-color: #16161C;
}

.btn_sleep:hover {
  color: #21BFC2;
}
.btn_logout:hover {
  color: #F09383;
}
.btn_reboot:hover {
  color: #27D796;
}
.btn_poweroff:hover {
  color: #E95678;
}

/** Volume *******************************************/
.volbar scale trough highlight {
  all: unset;
  background-color: #21BFC2;
  border-radius: 4px;
}
.volbar scale trough {
  all: unset;
  background-color: #232530;
  border-radius: 4px;
  min-height: 14px;
  min-width: 160px;
  margin : 15px 20px 15px 20px;
}
